%h1.ui.block.header
  Organic Messages (DO NOT USE FOR ADS!)
.ui.top.attached.tabular.menu
  %a.active.item{ "data-tab" => 'twitter-organic_messages' }
    %h3.ui.header
      %i.blue.twitter.square.icon
      .content
        Twitter Organic Messages
        %span.ui.black.label
          #{ @twitter_organic_messages.count.to_s }
  %a.item{ "data-tab" => 'facebook-organic_messages' }
    %h3.ui.header
      %i.blue.facebook.square.icon
      .content
        Facebook Organic Messages
        %span.ui.black.label
          #{ @facebook_organic_messages.count.to_s }
.ui.bottom.attached.active.tab.segment{ "data-tab" => 'twitter-organic_messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @twitter_organic_messages }
.ui.bottom.attached.tab.segment{ "data-tab" => 'facebook-organic_messages'}
  = render :partial => 'shared/messages', :locals => { :messages => @facebook_organic_messages }

