- if message.message_template.platform == 'twitter_uscprofiles' || message.message_template.platform == 'twitter'
  .ui.horizontal.segments
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Retweets
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Favorites
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Mentions
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Clicks
- elsif message.message_template.platform == 'facebook'
  .ui.horizontal.segments
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Comments
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Likes
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Clicks
    .ui.segment
      .ui.mini.horizontal.statistic
        .value
          0
        .label
          Shares
